<p id="notice"><%= notice %></p>
<% if @users.any? %>
  <table class="table table-bordered">
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= "#{user.name} (#{user.email}), #{user.age} anos" %>
          <%= link_to "<i class='icon-edit'></i>".html_safe, 
              edit_user_path(user), :class => "btn btn-mini" %>
          
          <%= link_to "<i class='icon-trash'></i>".html_safe, user, 
              :method => :delete, :class => "btn btn-mini" %>
        </td>
      </tr>
  <% end %>
  </table>
<% else %>
  <div class="alert">
    Nenhum usuário cadastrado
  </div>  
<% end %>

<%= link_to "Novo usuário", new_user_path, :class => "btn btn-success" %>