<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Project name", index_path, :class => "brand" %>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          <% if user_signed_in? %>
            Logged in as  <%= link_to current_user.name, edit_user_registration_path, :class => "navbar-link" %>
            <%= link_to "<i class='icon-off icon-white'></i>".html_safe, destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to "login", new_user_session_path, :class => "btn" %>            
          <% end %>
        </p>
        <ul class="nav">
          <li class="active"><%= link_to "Home", index_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>