<!DOCTYPE html>
<html>
<head>
  <title>FirstApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <%= render :partial => 'shared/menu_top' %>

    <div class="container-fluid">
    
      <div class="row-fluid">

        <%= yield :sidebar %>

        <%= yield %>

      </div>

      <%= render :partial => 'shared/footer' %>

    </div>

  </body>
</html>

